image {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

// .photo-card {

// }
.info {
  display: flex;
  gap: 10px;
}
